= render :layout => "layouts/public", :locals => { :title => (defined?(title) ? title : configuration['description']) } do
  - if defined?(title)
    %h1= title

  %ul#posts.posts
    - posts.each do |post|
      %li.post
        %h2= link_to post.title, post_path(post)
        .author
          = post.author.name
          = raw gravatar_for post.author
        %time{:pubdate => post.created_at}= post.created_at
        %article= raw post.abstract.to_html if post.abstract
        %ul.tags
          - post.tags.map do |tag|
            %li= link_to tag.name, tags_path(tag.name)
        .comments
          = link_to("Add comment", post_path(post, :anchor => "disqus_thread"))
          = raw disqus_comment_counts

  .paginate
    = will_paginate posts
